.cart__button {
  font-size: 1em;
}

.cart__button-icon {
  font-size: 0.8em;
  margin-right: 4px;
}

.cart-form__button,
.cart-list__button {
  margin: 0 2px 0;
}

.cart-list__button {
  display: inline-block;
  padding: 0 5px 0;
  border: 1px solid transparent;
  border-radius: 20%;
  background-color: #007bff;
  color: white;
}

.cart-list__button:hover {
  color: white;
  background-color: #0069d9;
}

.cart-list__button-icon {
  margin-top: -4px;
}

.cart-view__button-row {
  float: right;
}
